## Import Libraries

In [4]:
import sqlite3
import csv

import pandas as pd

## Fetch Data

In [2]:
def fetch_data(link):
    # Connect to the database file
    conn = sqlite3.connect(link)

    # Create a cursor object
    cursor = conn.cursor()

    # Get a list of all tables in the database
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()

    # Print the list of tables
    print("Tables:")
    for table in tables:
        print(table[0])
        cursor.execute(f'SELECT * FROM {table[0]}')

    feats = pd.read_sql_query('SELECT * FROM id_text', conn)

    labels = pd.read_sql_query('SELECT * FROM id_dialect', conn)

    df_raw = pd.merge(feats, labels, on='id')

    return df_raw


    # Close the cursor and connection
    cursor.close()
    conn.close()

In [5]:
data = fetch_data('dialects_database.db')
data.head()

Tables:
id_text
id_dialect

,id,text,dialect
0,1009754958479151232,@toha_Altomy @gy_yah قليلين ادب ومنافقين. لو ا...,LY
1,1009794751548313600,@AlmFaisal 😂😂 الليبيين متقلبين!!!\nبس بالنسبة ...,LY
2,1019989115490787200,@smsm071990 @ALMOGRBE كل 20 تانيه شاب ليبي بير...,LY
3,1035479791758135168,@AboryPro @lyranoo85 رانيا عقليتك متخلفة. اولا...,LY
4,1035481122921164800,@lyranoo85 شكلك متعقدة علشان الراجل لي تحبيه ا...,LY

## Save Data to CSV File

In [6]:
data.to_csv('dialects_database.csv', index=False)